In [1]:
USE library;

CREATE TABLE Authors (
    author_id INT PRIMARY KEY IDENTITY(1,1),
    name NVARCHAR(100) NOT NULL,
    nationality NVARCHAR(50)
);

In [ ]:
USE library;

CREATE TABLE Books (
    book_id INT PRIMARY KEY IDENTITY(1,1),
    title NVARCHAR(150) NOT NULL,
    author_id INT,
    genre NVARCHAR(50),
    publication_year INT,
    FOREIGN KEY (author_id) REFERENCES Authors(author_id)
);

In [3]:
USE library;

CREATE TABLE Members (
    member_id INT PRIMARY KEY IDENTITY(1,1),
    first_name NVARCHAR(50) NOT NULL,
    last_name NVARCHAR(50) NOT NULL,
    email NVARCHAR(100),
    phone NVARCHAR(15)
);

In [ ]:
USE library;

CREATE TABLE Loans (
    loan_id INT PRIMARY KEY IDENTITY(1,1),
    book_id INT,
    member_id INT,
    loan_date DATE,
    return_date DATE,
    FOREIGN KEY (book_id) REFERENCES Books(book_id),
    FOREIGN KEY (member_id) REFERENCES Members(member_id)
);