<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">1.&nbsp;</span> <span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">დაწერე ფუნქცია რომელმაც უნდა დააბრუნოს ბონუსის რაოდენობა რაც ეკუთვნის&nbsp;</span> <span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">თანამშრომელს Id ის&nbsp;</span> <span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">მიხედვით: თუ თანამშრომელი კომპანიაში მუშაობს 30 წელზე მეტი ხანია ის მიიღებს 50%</span><span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">, თუ 20-30 – 40% და თუ 15-20 მაშინ 30%</span>

In [2]:
CREATE FUNCTION CalculateBonusPercentage (@emp_id INT)
RETURNS FLOAT
AS
BEGIN
    DECLARE @BonusPercentage FLOAT
    DECLARE @YearsWorked INT

    SELECT @YearsWorked = DATEDIFF(YEAR, hire_date, GETDATE())
    FROM employee
    WHERE emp_id = @emp_id

    IF @YearsWorked > 30
        SET @BonusPercentage = 0.5; -- 50%
    ELSE IF @YearsWorked >= 20 AND @YearsWorked <= 30
        SET @BonusPercentage = 0.4; -- 40%
    ELSE IF @YearsWorked >= 12 AND @YearsWorked < 20
        SET @BonusPercentage = 0.3; -- 30%
    ELSE
        SET @BonusPercentage = 0; -- No bonus for less than 12 years

    RETURN @BonusPercentage;
END;

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>     <span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">დაწერე ფუნქცია რომელიც დააბრუნებს სიას თითოეული ავტოების დაჯგუფებულს ქვეყნების მიხედვით</span>

In [3]:
CREATE FUNCTION GetAuthorsByCity()
RETURNS TABLE
AS
RETURN (
    SELECT city, STRING_AGG(CONCAT(au_fname, ' ', au_lname), ', ') AS authors_in_city
    FROM authors
    GROUP BY city
);

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">3.&nbsp;</span> <span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">დაწერეთ ფუნქცია რომელიც დააბრუნებს Order Number იმ შეკვეთისას რომლიდანაც ყველაზე მეტი მოგება მიიღო გამომცემლობამ</span>

In [1]:
CREATE FUNCTION FindOrderWithHighestIncome()
RETURNS VARCHAR(20)
AS
BEGIN
    DECLARE @OrderWithHighestIncome VARCHAR(20)

    SELECT TOP 1 @OrderWithHighestIncome = sales.ord_num
    FROM sales
    INNER JOIN titles ON sales.title_id = titles.title_id
    ORDER BY (sales.qty * titles.price - sales.qty * titles.royalty) DESC;

    RETURN @OrderWithHighestIncome;
END;

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">4.&nbsp;</span> <span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">სექტემბრის თვეში გამოცემული წიგნების ფასების ჯამი.</span>

In [2]:
CREATE FUNCTION SumPricesOfPublicationsInSeptember()
RETURNS MONEY
AS
BEGIN
    DECLARE @TotalPrice MONEY

    SELECT @TotalPrice = SUM(titles.price)
    FROM titles
    WHERE MONTH(titles.pubdate) = 9; --September

    RETURN @TotalPrice;
END;