<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">ააგეთ მოცემული ცხრიელბის მსგავსი Table ები თქვენს ბაზაში და JOIN კონტრუქცუების გამოყენებით გამოიტანეთ მონაცემები.</span>

In [5]:
-- Create and Use Database
CREATE DATABASE university;
USE university;

-- Create Students table
CREATE TABLE Students (
    SNum INT PRIMARY KEY,
    Sname VARCHAR(50),
    Major VARCHAR(50),
    GPA DECIMAL(3, 1)
);

-- Insert data into Students table
INSERT INTO Students (SNum, Sname, Major, GPA)
VALUES
    (101, 'Andy', 'IS', 3.2),
    (102, 'Betty', 'FIN', 1.8),
    (103, 'Cindy', 'IS', 3.8);

-- Create Courses table
CREATE TABLE Courses (
    CNum VARCHAR(10) PRIMARY KEY,
    Ctitle VARCHAR(50),
    Instr VARCHAR(50)
);

-- Insert data into Courses table
INSERT INTO Courses (CNum, Ctitle, Instr)
VALUES
    ('IS380', 'Database', 'Lee'),
    ('IS385', 'Systems', 'Smith'),
    ('IS355', 'Telecomm', 'Lee');

-- Create Enrollments table
CREATE TABLE Enrollments (
    SNum INT,
    CNum VARCHAR(10),
    Grade VARCHAR(2),
    FOREIGN KEY (SNum) REFERENCES Students(SNum),
    FOREIGN KEY (CNum) REFERENCES Courses(CNum)
);

-- Insert data into Enrollments table
INSERT INTO Enrollments (SNum, CNum, Grade)
VALUES
    (101, 'IS380', 'B'),
    (101, 'IS385', 'A'),
    (102, 'IS380', 'A'),
    (103, 'IS355', 'B');

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">1.გამოიტანეთ CNum,title და Grade კურსების რომლებსაც Andy ესწრება</span>

In [3]:
SELECT 
    Courses.CNum,
    Courses.Ctitle,
    Enrollments.Grade
FROM Enrollments
JOIN Students ON Students.SNum = Enrollments.SNum
JOIN Courses ON Courses.CNum = Enrollments.CNum
WHERE Students.Sname = 'Andy'

CNum,Ctitle,Grade
IS380,Database,B
IS385,Systems,A

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">2.გამოიტანეთ SNum და SName სტუდენტების რომლებიც IS380 ესწრებიან&nbsp;</span>

In [4]:
SELECT 
    Students.SNum,
    Students.Sname
FROM Enrollments
JOIN Students ON Students.SNum = Enrollments.SNum
WHERE Enrollments.CNum = 'IS380'

SNum,Sname
101,Andy
102,Betty

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">3.გამოიტანეთ SNum და SName სტუდენტების რომლებიც&nbsp;IS380 ესწრებიან და "A" მიიღეს</span>

In [5]:
SELECT 
    Students.SNum,
    Students.Sname
FROM Enrollments
JOIN Students ON Students.SNum = Enrollments.SNum
WHERE Enrollments.CNum = 'IS380'
AND Enrollments.Grade = 'A'

SNum,Sname
102,Betty

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">4.გამოიტანეთ SNum და SName&nbsp;სტუდენტების&nbsp;რომელთა major არის IS და ესწრებიან&nbsp;IS380</span>

In [6]:
SELECT 
    Students.SNum,
    Students.Sname
FROM Enrollments
JOIN Students ON Students.SNum = Enrollments.SNum
WHERE Enrollments.CNum = 'IS380'
AND Students.Major = 'IS'

SNum,Sname
101,Andy

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">5.გამოიტანე&nbsp;SNum და SName&nbsp;სტუდენტების&nbsp;რომელთა major არის IS&nbsp;და მიიღეს "A"&nbsp;&nbsp;&nbsp;IS380 კურსში</span>

In [7]:
SELECT 
    Students.SNum,
    Students.Sname
FROM Enrollments
JOIN Students ON Students.SNum = Enrollments.SNum
WHERE Enrollments.CNum = 'IS380'
AND Enrollments.Grade = 'A'
AND Students.Major = 'IS'

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">6.გამოიტანე&nbsp;SNum და SName&nbsp;სტუდენტების&nbsp;რომლებიც IS380 ესწრებიან&nbsp;, მაგრამ მათი&nbsp;major არ არის IS</span>

In [8]:
SELECT 
    Students.SNum,
    Students.Sname
FROM Enrollments
JOIN Students ON Students.SNum = Enrollments.SNum
WHERE Enrollments.CNum = 'IS380'
AND Students.Major <> 'IS'

SNum,Sname
102,Betty

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">7.გამოიტანე&nbsp;SNum&nbsp;&nbsp;სტუდენტების&nbsp;რომლებმაც აირჩიეს "Telecomm" კურსი</span>

In [9]:
SELECT 
    Students.SNum
FROM Enrollments
JOIN Students ON Students.SNum = Enrollments.SNum
JOIN Courses ON Courses.CNum = Enrollments.CNum
WHERE Courses.Ctitle = 'Telecomm'

SNum
103

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">8.გამოიტანე&nbsp;SNum&nbsp;&nbsp;სტუდენტების&nbsp;რომლებმაც მიიღეს "A" lee-ს ნებისმიერ კურსში</span>

In [15]:
SELECT 
    Students.SNum
FROM Enrollments
JOIN Students ON Students.SNum = Enrollments.SNum
JOIN Courses ON Courses.CNum = Enrollments.CNum
WHERE Courses.Instr = 'Lee'
AND Enrollments.Grade = 'A'

SNum
102

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">9.გამოიტანეთ SNum და SName სტუდენტების რომელთა GPA 2 ზე ნაკლებია ,&nbsp; მაგრამ&nbsp;მიიღეს "A" lee-ს ნებისმიერ კურსში</span>

In [14]:
SELECT 
    Students.SNum,
    Students.Sname
FROM Enrollments
JOIN Students ON Students.SNum = Enrollments.SNum
JOIN Courses ON Courses.CNum = Enrollments.CNum
WHERE Students.GPA < 2
AND Courses.Instr = 'Lee'
AND Enrollments.Grade = 'A'

SNum,Sname
102,Betty

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">10.გამოიტანეთ SNum და SName სტუდენტების რომელთა ინსტრუქტორი არის "Lee"</span>

In [13]:
SELECT 
    Students.SNum,
    Students.Sname
FROM Enrollments
JOIN Students ON Students.SNum = Enrollments.SNum
JOIN Courses ON Courses.CNum = Enrollments.CNum
WHERE Courses.Instr = 'Lee'

SNum,Sname
101,Andy
102,Betty
103,Cindy