## Create Table

In [ ]:
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[planets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[distance_from_earth] [float] NOT NULL,
	[gravity] [float] NOT NULL,
	[atmosphere] [nvarchar](max) NOT NULL,
	[temperature] [float] NOT NULL,
	[surface_features] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[planets] ADD  CONSTRAINT [PK_planets] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

## Drop Table

In [ ]:
DROP TABLE planets;

## Alter Table

In [ ]:
ALTER TABLE planets
ALTER COLUMN temperature DECIMAL(10, 2);

## Insert Data Into Table

In [2]:
INSERT INTO planets (name, description, distance_from_earth, gravity, atmosphere, temperature, surface_features)
VALUES
  ('Mercury', 'The closest planet to the Sun.', 57.9, 3.7, 'Thin atmosphere, mostly hydrogen and helium.', 427, 'Craters and barren surface.'),
  ('Venus', 'Known for its thick, toxic atmosphere.', 108.2, 8.87, 'Thick carbon dioxide atmosphere.', 467, 'Volcanic plains and highlands.'),
  ('Earth', 'The only known planet to support life.', 0, 9.81, 'Nitrogen, oxygen, and trace gases.', 14, 'Diverse landscapes and oceans.'),
  ('Mars', 'Often called the "Red Planet."', 225.9, 3.71, 'Thin carbon dioxide atmosphere.', -63, 'Valleys, canyons, and polar ice caps.'),
  ('Jupiter', 'The largest planet in our solar system.', 778.3, 24.79, 'Primarily hydrogen and helium.', -145, 'Giant storms and a complex cloud structure.'),
  ('Saturn', 'Famous for its striking ring system.', 1, 10.44, 'Primarily hydrogen and helium.', -178, 'Spectacular ring system and numerous moons.'),
  ('Uranus', 'A gas giant with a tilted rotation axis.', 1, 8.69, 'Hydrogen and helium with traces of methane.', -224, 'Unique sideways rotation and a few dark rings.'),
  ('Neptune', 'A distant ice giant with a vivid blue color.', 1, 11.15, 'Hydrogen and helium with methane.', -214, 'Stormy atmosphere and dark spot known as the Great Dark Spot.');

## Different Queries (FROM, WHERE, GROUP BY, HAVING, SELECT, ORDER BY, TOP)

In [20]:
SELECT *
FROM planets
WHERE planets.description LIKE '%Red Planet%'
OR planets.atmosphere LIKE 'Thick%'
OR (
    planets.gravity > 10 AND planets.name IN ('Neptune', 'Uranus', 'Jupiter', 'Earth')
);

id,name,description,distance_from_earth,gravity,atmosphere,temperature,surface_features
2,Venus,"Known for its thick, toxic atmosphere.","108,2","8,87",Thick carbon dioxide atmosphere.,467,Volcanic plains and highlands.
4,Mars,"Often called the ""Red Planet.""","225,9","3,71",Thin carbon dioxide atmosphere.,-63,"Valleys, canyons, and polar ice caps."
5,Jupiter,The largest planet in our solar system.,"778,3","24,79",Primarily hydrogen and helium.,-145,Giant storms and a complex cloud structure.
8,Neptune,A distant ice giant with a vivid blue color.,1,"11,15",Hydrogen and helium with methane.,-214,Stormy atmosphere and dark spot known as the Great Dark Spot.

In [21]:
SELECT TOP 2
    CONCAT(planets.distance_from_earth, ' million km') AS "Distance from Earth",
    CONCAT('+', AVG(planets.temperature), 'C') AS "Avarage Temperature"
FROM planets
GROUP BY planets.distance_from_earth
HAVING AVG(planets.temperature) > 0
ORDER BY AVG(planets.temperature) DESC

Distance from Earth,Avarage Temperature
108.2 million km,+467C
57.9 million km,+427C

## Aggregative Functions

In [22]:
SELECT COUNT(*) AS "Total Planets"
FROM planets;

Total Planets
8

In [23]:
SELECT AVG(planets.distance_from_earth) AS "Avatage Distance From Earth"
FROM planets;

Avatage Distance From Earth
"146,6625"

In [24]:
SELECT MAX(planets.gravity) AS "Max Gravity"
FROM planets

Max Gravity
"24,79"

In [29]:
SELECT MIN(planets.temperature) AS "Minimal Temperature"
FROM planets

Minimal Temperature
-224

In [32]:
SELECT SUM(planets.distance_from_earth) AS "Total Distance From Earth"
FROM planets

Total Distance From Earth
"1173,3"