<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">შექმენით მონაცემთა ბაზა სურათი N1-ზე ილუსტრირებული მოდელის მიხედვით.</span>  
<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">1.1.გაითვალისწინეთ მონაცემთა ტიპი თითოეული ცხრილისათვის.</span>  
<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">1.2.გაითვალისწინეთ ცხრილებს შორის კავშირი.</span>  
<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">2. შეავსეთ Salesperson და Сustomer ცხრილები მონაცემებით.</span>

In [ ]:
CREATE DATABASE SalesDatabase;
USE SalesDatabase;

In [1]:
CREATE TABLE Salesperson (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    Name VARCHAR(50),
    Age INT,
    Salary MONEY
);

SET IDENTITY_INSERT Salesperson ON;

INSERT INTO Salesperson (ID, Name, Age, Salary)
VALUES 
    (1, 'Abe', 61, 140000),
    (2, 'Bob', 34, 44000),
    (5, 'Chris', 34, 40000),
    (7, 'Dan', 41, 52000),
    (8, 'Ken', 57, 115000),
    (11, 'Joe', 38, 38000);

SET IDENTITY_INSERT Salesperson OFF;

: Msg 544, Level 16, State 1, Line 10
Cannot insert explicit value for identity column in table 'Salesperson' when IDENTITY_INSERT is set to OFF.

In [ ]:
CREATE TABLE Customer (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    Name VARCHAR(50),
    City VARCHAR(50),
    IndustryType CHAR(1)
);

SET IDENTITY_INSERT Customer ON;

INSERT INTO Customer (ID, Name, City, IndustryType)
VALUES 
    (4, 'Samsonic', 'pleasant', 'J'),
    (6, 'Panasung', 'oaktown', 'J'),
    (7, 'Samony', 'jackson', 'B'),
    (9, 'Orange', 'Jackson', 'B');

SET IDENTITY_INSERT Customer OFF;

In [15]:
CREATE TABLE Orders (
    Number INT IDENTITY(10,10) PRIMARY KEY,
    order_date DATE,
    cust_id INT,
    salesperson_id INT,
    Amount MONEY,
    FOREIGN KEY (cust_id) REFERENCES Customer(ID),
    FOREIGN KEY (salesperson_id) REFERENCES Salesperson(ID)
);

INSERT INTO Orders (order_date, cust_id, salesperson_id, Amount)
VALUES 
    ('2017-08-02', 4, 2, 540),
    ('2017-01-30', 4, 8, 1800),
    ('2017-07-14', 9, 1, 460),
    ('2017-01-29', 7, 2, 2400),
    ('2017-02-03', 6, 7, 600),
    ('2017-03-02', 6, 7, 720),
    ('2017-05-06', 9, 7, 150);

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">3. შექმენით ფუნქცია SaveSalesPerson, რომელსაც პარამეტრად გადაეცემა Name,</span>  
<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">Age, Salary და შესაბამის ინფორმაციას შეინახავს&nbsp;</span>

In [7]:
-- აღწერაში ფუნქციას ითხოვდი მაგრამ INSERT-ის სინტაქსი ფუნქციაში არ დაიშვება
CREATE FUNCTION SaveSalesPerson 
(
    @Name VARCHAR(50),
    @Age INT,
    @Salary MONEY
)
RETURNS INT
AS
BEGIN
    DECLARE @InsertedID INT;

    INSERT INTO Salesperson (Name, Age, Salary)
    VALUES (@Name, @Age, @Salary);

    SET @InsertedID = SCOPE_IDENTITY();

    RETURN @InsertedID;
END;

: Msg 443, Level 16, State 15, Procedure SaveSalesPerson, Line 13
Invalid use of a side-effecting operator 'INSERT' within a function.

In [ ]:
-- შესაბამისად ვქმნი პროცედურას
CREATE PROCEDURE SaveSalesPerson 
    @Name VARCHAR(50),
    @Age INT,
    @Salary MONEY
AS
BEGIN
    INSERT INTO Salesperson (Name, Age, Salary)
    VALUES (@Name, @Age, @Salary);
END;

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">4. შექმენით მოთხოვნა, რომელიც დააბრუნებს იმ გაყიდვების მენეჯერების სიას,</span>  
<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">რომელთა შეკვეთა იყო Orange.</span>

In [1]:
SELECT Salesperson.*
FROM Orders
JOIN Salesperson ON Salesperson.ID = Orders.salesperson_id
JOIN Customer ON Customer.ID = Orders.cust_id
WHERE Customer.Name = 'Orange'

ID,Name,Age,Salary
1,Abe,61,"140000,00"
7,Dan,41,"52000,00"

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">5. შექმენით მოთხოვნა, რომელიც დააბრუნებს იმ გაყიდვების მენეჯერების სიას,</span>  
<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">რომელთა შეკვეთების რაოდენობა აღემატება 2-ს.</span>

In [3]:
SELECT 
    Salesperson.*
FROM Orders
JOIN Salesperson ON Salesperson.ID = Orders.salesperson_id
GROUP BY Salesperson.ID, Salesperson.Name, Salesperson.Age, Salesperson.Salary
HAVING COUNT(DISTINCT Orders.Number) > 2

ID,Name,Age,Salary
7,Dan,41,"52000,00"

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">6. დაწერეთ მოთხოვნა, რომელიც highAchiever(Name, Age) ცხრილში გადაწერეს იმ</span>  
<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">გაყიდვების მენეჯერების სახელს და ასაკს, რომელთა ხელფასი აღემატება 50 000-ს.</span>

In [4]:
SELECT Name, Age
INTO highAchiever
FROM Salesperson
WHERE Salary > 50000;

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">7. დაამუშავეთ მოთხოვნა, რომელიც დააჯგუფებს მონაცემებს მომხმარებლების</span>  
<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">Industry Type მიხედვით და დაითვლის თითოეულისთვის შეკვეთის ჯამურ</span>  
<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">ღირებულებას.</span>

In [6]:
SELECT
    Customer.IndustryType,
    SUM(Orders.Amount) AS TotalOrderAmount
FROM Orders
JOIN Customer ON Customer.ID = Orders.cust_id
GROUP BY Customer.IndustryType

IndustryType,TotalOrderAmount
B,"3010,00"
J,"3660,00"

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">8. დაწერეთ ფუნქცია სახელად GetAverageAmountByDate, რომელსაც გადაეცემა</span>  
<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">პარამეტრებად ორი თარიღი (start_date, end_date) და მითითებული შუალედისთვის</span>  
<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">დააბრუნებს შეკვეთის საშუალო ღირებულებას.</span>

In [17]:
CREATE FUNCTION GetAverageAmountByDate 
(
    @start_date DATE,
    @end_date DATE
)
RETURNS DECIMAL(10,2)
AS
BEGIN
    DECLARE @AverageAmount DECIMAL(10,2);

    SELECT @AverageAmount = AVG(Amount)
    FROM Orders
    WHERE order_date BETWEEN @start_date AND @end_date;

    RETURN @AverageAmount;
END;