# Quiz 1

**1\. რა დანიშნულება აქვს UPDATE ბრძანებას? მოიყვანეთ მაგალითი.** 

Update ბრძანება გამოიყენება, მონაცემთა ბაზის კონკრეტულ ცხრილში უკვე არსებული მონაცემის ან მონაცემების კონკრეტული მნიშვნელობების მოდიფიკაციისათვის და ახალი მნიშვნელობის მინიჭებისათვის.

### მაგალითი: აღნიშნული ბრძანება განაახლებს პლანეტა მარსის აღწერას არსებული პლანეტების ცხრილში.

In [ ]:
UPDATE planets
SET description = 'The red planet known for its Martian rovers and potential for future colonization.'
WHERE name = 'Mars';

**2\. აღწერეთ SELECT და SELECT ... INTO ბრძანებები. მოიყვანეთ მაგალითი.** 

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">SELECT </span> <span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">გამოიყენება ბაზაში უკვე არსებული ერთი ან რამოდენიმე ცხრილიდან კონკრეტულად მითითებული სვეტების ინფორმაციის წამოსაღებად.&nbsp;<br></span>

### მაგალითი: აღნიშნულ ბრძანებას პლანეტების ცხრილს ფილტრავს გარკვეული პირობით და აბრუნებს ნაპოვნი ჩანაწერების ყველა სვეტის მნიშვნელობას.

In [ ]:
SELECT *
FROM planets
WHERE planets.description LIKE '%Red Planet%'
OR planets.atmosphere LIKE 'Thick%'
OR (
    planets.gravity > 10 AND planets.name IN ('Neptune', 'Uranus', 'Jupiter', 'Earth')
);

SELECT...INTO ბრძანება გამოოყენება იმისათვის, რომ SELECT-დან მიღებული შედეგი ახალ, შუამავალ ცხრილში შევინახოთ.  
  

### მაგალითი: პლანეტების ცხრილში ვპოულობთ, 0-ზე დაბალი ტემპერატურის პლანეტებს, ვიღებთ მხოლოდ სახელს და ტემპერატურას და ვინახავთ ახალ, ცხრილში.

In [ ]:
SELECT name, temperature
INTO cold_planets
FROM planets
WHERE temperature < 0;

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;"><b>3. IF...ELSE მმართველი კონსტრუქცია და მისი დანიშნულება. მოიყვანეთ მაგალითი.&nbsp;</b><br></span> <span style="color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px; caret-color: rgb(60, 64, 67);">IF...ELSE კონსტრუქცია გამოიყენება კოდის სტრუქტურირებისათვის, რომ შესაძლებელი გახდეს, რომ გარკვეული პირობით სხვადასხვა კოდის ბლოკის გამოვიძახოთ.&nbsp;<br></span> <span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;"><br></span>

### <span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">კონსტრუქცია:&nbsp;</span> 

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;"><br></span>

In [ ]:
IF {პირობა რომელიც დააბრუნებს TRUE ან FALSE მნიშვნელობას}
BEGIN
    -- ამ ბლოკში არსებული კოდი ამუშავდება თუ პირობის მნიშვნელობაა ჭეშმარიტი
END
ELSE
BEGIN
     -- ამ ბლოკში არსებული კოდი ამუშავდება თუ პირობის მნიშვნელობაა მცდარი
END

### მაგალითი: ვქმნით ტექსტური ტიპის ცვლადს, რომელშიც ვინახავს პლანეტის დასახელებას. ტემპერატურის მიხედვით დავბეჭდავთ ან პირველ ტესტს ან მეორეს.

In [ ]:
DECLARE @PlanetName VARCHAR(255)
SET @PlanetName = 'Mars'

IF (SELECT temperature FROM planets WHERE name = @PlanetName) < 0
BEGIN
    PRINT 'პლანეტა ' + @PlanetName + '-ის ტემპერატურა ნაკლებია 0 გრადუსზე.'
END
ELSE
BEGIN
    PRINT 'პლანეტა ' + @PlanetName + '-ის ტემპერატურა მეტია ან ტოლია 0 გრადუსის.'
END

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;"><b>4. სტრიქონებთან სამუშაო ფუნქციები. მოიყვანეთ მაგალითები.&nbsp;</b><br>იქიდან გამომდინარე, რომ ბაზაში შესაძლოა სხვადასხვა ტიპის მონაცემები გვქონდეს შენახული, აუცილებელია თითოეულის დასამუშავებლად საშიწო ხელსაწყოები გვქონდეს. ერთერთი ესეთი მონაცემტა ტიპია, ტექსტურ სტრიქონებთან სამუშაო ფუნქციები.&nbsp;</span> 

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;"><br></span>

### **CONCAT** : გამოიყენება ორი ან ბევრი სტრიქონის გასაერთიანებლად, რომელიც შედეგად ახალ გაერთიანებულ სტრიქონს გვიბრუნებს.  

### მაგალითი: პლანეტების ცხრილიდან ამოვიღოთ ყველა პლანეტა და მათ სახელები და აღწერა გავაერთიანოთ, შუაში გამოვყოთ ":" სიმბოლოთი.

In [ ]:
SELECT CONCAT(name, ': ', description) AS planet_info
FROM planets;

### <span style="color: var(--tw-prose-bold); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; font-weight: 600; white-space: pre-wrap;">UPPERCASE/LOWERCASE</span> : გამოოიყენება სტრიქონის რეგისტრის შესაცვლელად, მაღლიდან დაბლა ან დაბლიდან მაღლა.

### მაგალითი: პლანეტების ცხრილის ყოველი ჩანაწერისათვის მათ სახელის ყოველ სიმბოლოს შევცვლით მაღალი რეგისტრით.

In [ ]:
SELECT UPPER(name) AS uppercase_name
FROM planets;

### <span style="color: var(--tw-prose-bold); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; font-weight: 600; white-space: pre-wrap;">LENGTH</span> : გამოიყენება სტრიქონის სიგრძის გასაგებად.

### მაგალითი: გავიგოთ ყოველი პლანეტის აღწერის სიგრძე.

In [ ]:
SELECT name, LEN(description) AS description_length
FROM planets;

### <span style="color: var(--tw-prose-bold); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; font-weight: 600; white-space: pre-wrap;">SUBSTRING</span> : გამოიყენება, არსებული სტრიქონიდან ქვესტრიქონის ამოღებისათვის. 

### მაგალითი: პლანეტების სახელიდან ამოვიღოთ პირველი 3 სიმბოლო.

In [ ]:
SELECT name, SUBSTRING(name, 1, 3) AS initials
FROM planets;

### <span style="color: var(--tw-prose-bold); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; font-weight: 600; white-space: pre-wrap;">REPLACE</span> : გამოიყენება, არსებულ სტრიქონში, კონკრეტული სტრიქონის ჩასანაცვლებლად.

### მაგალითი: პლანეტების აღწერაში ჩავანაცვლოთ ატმოსფერო, ჰაერით.

In [ ]:
SELECT name, REPLACE(description, 'atmosphere', 'air') AS updated_description
FROM planets;

### <span style="color: var(--tw-prose-bold); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; font-weight: 600; white-space: pre-wrap;">TRIM/LTRIM/RTRIM</span> : გამოიყენება, არსებულ სტრიქონში, სიცარიელეების წაშაშლელად, მარჯვნიდან მარცხნიდან ან ორივე მხრიდან.

### მაგალითი: წავუშალოთ სიცარიელეები პლანეტების სახელებს.

In [ ]:
SELECT TRIM(name) AS trimmed_name
FROM planets;

### <span style="color: var(--tw-prose-bold); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; font-weight: 600; white-space: pre-wrap;">LIKE</span> : გამოიყენება, ისეთი ჩანაწერების საპოვნელად რომელიც მოცემულ პატერნს ემთხვევა.

### მაგალითი: ვიპოვნოთ ისეთ პლანეტები, რომელთა სახელიც იწყემა M-ით.

In [ ]:
SELECT name
FROM planets
WHERE name LIKE 'M%';

**5\. დაახასიათეთ T-SQL-ის შედარების და ლოგიკის ოპერატორები.**   

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">შედარების ოპერატორები გამოიყენება ლოგიკური პირობის შესაქმნელად.&nbsp;<br></span> 

- <span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">შედარების ოპერატორი '='<br></span>
- <span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">არ უდრის '!=' '&lt;&gt;'<br></span>
- <span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">მეტია, ნაკლებია, მეტია ან ტოლია, ნაკლევია ან ტოლია '&gt;' '&lt;' '&gt;=' '&lt;='</span>
- <span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">ცარიელია ან არ არის ცარიელი&nbsp; IS NULL, IS NOT NULL</span>
- <span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">ორ რიცხვს შორის არის BETWEEN ... AND ....</span>

In [ ]:
SELECT name
FROM planets
WHERE temperature = -63;

In [ ]:
SELECT name
FROM planets
WHERE temperature <> -63;

In [ ]:
SELECT name
FROM planets
WHERE distance_from_earth > 100;

In [ ]:
SELECT name
FROM planets
WHERE gravity <= 4;

In [ ]:
SELECT name
FROM planets
WHERE atmosphere IS NULL;

In [ ]:
SELECT name
FROM planets
WHERE temperature BETWEEN -100 AND 100;