<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">1. მონაცემთა ბაზის კონსტრუირება (ინდექსების დასმა და ცხრილების შორის კავშირების უზრუნველყოფა). (4 ქულა)</span>

In [5]:
CREATE DATABASE ImaginaryWorld;
USE ImaginaryWorld;

: Msg 911, Level 16, State 1, Line 2
Database 'ImaginaryWorld' does not exist. Make sure that the name is entered correctly.

In [28]:
CREATE TABLE Creatures (
    CreatureID INT PRIMARY KEY IDENTITY(1,1),
    Name NVARCHAR(100) NOT NULL,
    Type NVARCHAR(50) NOT NULL,
    Habitat NVARCHAR(100),
    Age INT,
    Description NVARCHAR(MAX)
);

In [29]:
CREATE TABLE Spells (
    SpellID INT PRIMARY KEY IDENTITY(1,1),
    Name NVARCHAR(100) NOT NULL,
    Description NVARCHAR(MAX),
    PowerLevel INT
);

In [30]:
CREATE TABLE Locations (
    LocationID INT PRIMARY KEY IDENTITY(1,1),
    Name NVARCHAR(100) NOT NULL,
    TerrainType NVARCHAR(50),
    Climate NVARCHAR(50),
    Description NVARCHAR(MAX)
);

In [31]:
CREATE TABLE CreaturesSpells (
    CreatureID INT,
    SpellID INT,
    PRIMARY KEY (CreatureID, SpellID),
    FOREIGN KEY (CreatureID) REFERENCES Creatures(CreatureID),
    FOREIGN KEY (SpellID) REFERENCES Spells(SpellID)
);

In [32]:
CREATE TABLE CreatureLocations (
    CreatureID INT,
    LocationID INT,
    PRIMARY KEY (CreatureID, LocationID),
    FOREIGN KEY (CreatureID) REFERENCES Creatures(CreatureID),
    FOREIGN KEY (LocationID) REFERENCES Locations(LocationID)
);

In [33]:
CREATE INDEX IX_Creature_Name ON Creatures(Name);
CREATE INDEX IX_Spell_Name ON Spells(Name);
CREATE INDEX IX_Location_Name ON Locations(Name);
CREATE INDEX IX_CreatureLocations_CreatureID_LocationID ON CreatureLocations(CreatureID, LocationID);
CREATE INDEX IX_Spell_PowerLevel ON Spells(PowerLevel);
-- CREATE CLUSTERED INDEX CIX_Location_LocationID ON Locations(LocationID);
CREATE NONCLUSTERED INDEX NCIX_Location_Terrain_Climate ON Locations(TerrainType, Climate);

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">2. ცხრილ(ებ)ში მონაცემების ჩამატება/რედაქტირება პროცედურების (Procedure) გამოყენებით. თუ პროცედურის ბიზნეს ლოგიკა (დანიშნულება) ისეთია, რომ ერთდროულად რამდენიმე ცხრილში ხდება ინფორმაციის შენახვა/რედაქტირება სავალდებულოა ტრანზაქციების გამოყენება. (3 ქულა)</span>

In [34]:
CREATE PROCEDURE InsertIntoCreatures
    @Name NVARCHAR(100),
    @Type NVARCHAR(50),
    @Habitat NVARCHAR(100),
    @Age INT,
    @Description NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO Creatures (Name, Type, Habitat, Age, Description)
    VALUES (@Name, @Type, @Habitat, @Age, @Description)
END;

In [35]:
CREATE PROCEDURE InsertIntoSpells
    @Name NVARCHAR(100),
    @Description NVARCHAR(MAX),
    @PowerLevel INT
AS
BEGIN
    INSERT INTO Spells (Name, Description, PowerLevel)
    VALUES (@Name, @Description, @PowerLevel)
END;

In [36]:
CREATE PROCEDURE InsertIntoLocations
    @Name NVARCHAR(100),
    @TerrainType NVARCHAR(50),
    @Climate NVARCHAR(50),
    @Description NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO Locations (Name, TerrainType, Climate, Description)
    VALUES (@Name, @TerrainType, @Climate, @Description)
END;

In [37]:
CREATE PROCEDURE InsertIntoCreaturesSpells
    @CreatureID INT,
    @SpellID INT
AS
BEGIN
    INSERT INTO CreaturesSpells (CreatureID, SpellID)
    VALUES (@CreatureID, @SpellID)
END;

In [38]:
CREATE PROCEDURE InsertIntoCreatureLocations
    @CreatureID INT,
    @LocationID INT
AS
BEGIN
    INSERT INTO CreatureLocations (CreatureID, LocationID)
    VALUES (@CreatureID, @LocationID)
END;

In [39]:
BEGIN TRANSACTION
    EXEC InsertIntoCreatures 'Dragon', 'Mythical', 'Mountains', 500, 'A mighty fire-breathing creature with scales.';
    EXEC InsertIntoCreatures 'Phoenix', 'Mythical', 'Volcanoes', 1000, 'A mystical bird that rises from its ashes.';

    EXEC InsertIntoSpells 'Fireball', 'Creates a ball of fire', 5;
    EXEC InsertIntoSpells 'Teleportation', 'Moves instantly from one place to another', 7;

    EXEC InsertIntoLocations 'Dragon Lair', 'Mountain', 'Harsh', 'A cave hidden deep within the mountains.';
    EXEC InsertIntoLocations 'Phoenix Roost', 'Volcanic', 'Hot', 'A high cliff surrounded by molten lava.';
    EXEC InsertIntoCreaturesSpells 1, 1; 
    EXEC InsertIntoCreaturesSpells 2, 2; 

    EXEC InsertIntoCreatureLocations 1, 1;
    EXEC InsertIntoCreatureLocations 2, 2;
COMMIT TRANSACTION

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">3. ფუნქციების (Functions) შექმნა/გამოყენება. შენიშვნა: ფუნქციების შექმნისას სავალდებულია გამოიყენოთ T-SQL-ის ინსტრუმენტები (მმართველი კონსტრუქციები, ლოგიკის ოპერატორები, სიმბოლური ტიპის მონაცემებთან მუშაობა, თარიღისა და დროის მონაცემებთან მუშაობა). (2 ქულა)</span>

In [40]:
CREATE FUNCTION CalculateCreatureAgeDifference (
    @Creature1Age INT,
    @Creature2Age INT
)
RETURNS INT
AS
BEGIN
    DECLARE @AgeDifference INT
    SET @AgeDifference = ABS(@Creature1Age - @Creature2Age)
    RETURN @AgeDifference
END;

In [41]:
CREATE FUNCTION DetermineSpellPowerStatus (
    @PowerLevel INT,
    @Threshold INT
)
RETURNS NVARCHAR(50)
AS
BEGIN
    DECLARE @Status NVARCHAR(50)
    IF @PowerLevel >= @Threshold
        SET @Status = 'High Power'
    ELSE
        SET @Status = 'Low Power'
    RETURN @Status
END;

In [42]:
CREATE FUNCTION FormatCreatureDescription (
    @Description NVARCHAR(MAX)
)
RETURNS NVARCHAR(MAX)
AS
BEGIN
    DECLARE @FormattedDescription NVARCHAR(MAX)
    SET @FormattedDescription = '*** ' + @Description + ' ***'
    RETURN @FormattedDescription
END;

In [43]:
CREATE FUNCTION CalculateAgeFromBirthdate (
    @Birthdate DATETIME
)
RETURNS INT
AS
BEGIN
    DECLARE @Age INT
    SET @Age = DATEDIFF(YEAR, @Birthdate, GETDATE())
    RETURN @Age
END;

In [44]:
CREATE FUNCTION CheckTerrainClimateMatch (
    @TerrainType NVARCHAR(50),
    @Climate NVARCHAR(50)
)
RETURNS BIT
AS
BEGIN
    DECLARE @Match BIT
    IF @TerrainType = @Climate
        SET @Match = 1
    ELSE
        SET @Match = 0
    RETURN @Match
END;

In [45]:
CREATE FUNCTION CategorizeSpell (
    @PowerLevel INT
)
RETURNS NVARCHAR(50)
AS
BEGIN
    DECLARE @SpellCategory NVARCHAR(50)

    SET @SpellCategory = 
        CASE 
            WHEN @PowerLevel >= 10 THEN 'High-Level Spell'
            WHEN @PowerLevel >= 5 AND @PowerLevel < 10 THEN 'Medium-Level Spell'
            ELSE 'Low-Level Spell'
        END

    RETURN @SpellCategory
END;

<span style="caret-color: rgb(60, 64, 67); color: rgb(60, 64, 67); font-family: Roboto, Arial, sans-serif; letter-spacing: 0.2px;">4. წარმოდგენების (View) შექმნა JOIN კონსტრუქციებისა და ცხრილიდან მონაცემების ამორჩევის ბრძანების ელემენტების გამოყენებით (FROM, WHERE, GROUP BY, HAVING, SELECT, ORDER BY, TOP და სხვ.). (1 ქულა)</span>

In [48]:
CREATE VIEW CreatureSpellLocationView AS
SELECT TOP 10 
    Creatures.Name AS CreatureName,
    Spells.Name AS SpellName,
    Locations.Name AS LocationName,
    COUNT(*) AS SpellCount,
    AVG(Creatures.Age) AS AverageAge
FROM 
    Creatures
JOIN CreaturesSpells ON Creatures.CreatureID = CreaturesSpells.CreatureID
JOIN Spells ON CreaturesSpells.SpellID = Spells.SpellID
JOIN CreatureLocations ON Creatures.CreatureID = CreatureLocations.CreatureID
JOIN Locations ON CreatureLocations.LocationID = Locations.LocationID
WHERE Creatures.Age > 100
GROUP BY Creatures.Name, Spells.Name, Locations.Name
HAVING COUNT(*) > 1
ORDER BY AverageAge DESC;

: Msg 2714, Level 16, State 3, Procedure CreatureSpellLocationView, Line 1
There is already an object named 'CreatureSpellLocationView' in the database.